h1 {
    color:rgb(33, 6, 110); 
    text-align: center;
}

.contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #e0dddd;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}